@font-face {
    font-family: webdatarocks-icons;
    /*src: url(./theme/assets/webdatarocks-icons.woff) format("woff"),*/
    /*url(./theme/assets/webdatarocks-icons.ttf) format("truetype"),*/
    /*url(./theme/assets/webdatarocks-icons.svg#webdatarocks-icons) format("svg");*/
    font-weight: 400;
    font-style: normal
}
